<div class="py-6 py-lg-12 cart-margin">
        <div class="container">
            <div class="row">
                <div class="offset-lg-3 col-lg-6 col-md-12 col-12 text-center">
                    <img src="../assets/images/bag.svg" alt="" class="img-fluid mb-4">
                    <%= image_tag('img/cart.svg')%>
                    <h2>Your shopping cart is empty</h2>
                    <div>
                        Return to the store to add items for your delivery slot. Before proceed to checkout you must add some products to your shopping cart. You will find a lot of interesting products on our shop page.
                    </div>
                    <a href="/" class="btn btn-primary mt-4">Explore Products</a>
                </div>
            </div>
    </div>
</div>