<% if resource.errors.any? %>
  <div id="error_explanation" data-turbo-cache="false">
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li class="rm" style="list-style-type: none;"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
