<div class="getstarted ">
    <div class="gs-main">
        <h1>Get started today</h1>
        <p class="text-white">Now that you're all set, it's time to let the GlowCart magic begin! Explore, shop, and experience the joy of technology-infused online shopping like never before.</p>
        <%= link_to 'Get Started', products_path, clasS: "btn-w mt-4 rm"%>
    </div>
    <%= image_tag('img/bg.jpg', class: 'gs-image') %>
</div>