<div class="getstarted ">
    <div class="gs-main">
        <h1>Stay Connected</h1>
        <p class="text-white">Join our vibrant community on social media and subscribe to our newsletter to stay updated on the latest trends, special offers, and exciting new additions to the GlowCart universe.</p>
            <input type="text" placeholder="abc@gorails.com">
            <button>Subscribe Now</button>
    </div>
    <%= image_tag('img/bg.jpg', class: 'gs-image') %>
</div>