<div class="abt">
    <div class="abt-left">
        <h1>Know More.</h1>
        <p>
            Welcome to GlowCart, where technology meets shopping in a truly innovative way! We are a dedicated team of developers and enthusiasts who believe in creating unique and unforgettable e-commerce experiences. Our mission is to bring excitement and interactivity to online shopping by integrating cutting-edge technology with traditional retail.
            <br>
            At GlowCart, we strive to break the boundaries of conventional online shopping by adding a touch of brilliance to every purchase. Our integration of Arduino technology allows us to enhance the shopping journey in an entirely novel manner. When you add a product to your cart, our custom Arduino-powered lights will illuminate, giving you a visual confirmation that your selection has been added successfully. It's like shopping in a store with magical lights that respond to your every action!
        </p>
        <%= link_to 'Return Home', root_path, class: 'btn btn-primary'%>
    </div>
    <div class="abt-right">
        <%= image_tag('img/logo.png',width: '500px') %>
    </div>
</div>

